<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <style>
        body { 
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 0;
            margin: 0;
        }

        .menu-container {
            width: 100%;
            max-width: 210mm;
            margin: 10mm auto;
            padding: 10mm;
            box-sizing: border-box;
            background-color: #f4f4f4;
        }

        .category-container {
            margin-bottom: 20px;
            padding: 10px;
            page-break-inside: avoid;
        }

        .category-name { 
            font-size: 24px;
            text-align: center;
            color: #007BFF;
            margin-bottom: 10px;
        }

        .meal { 
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            margin: 5px 0;
            page-break-inside: avoid;
        }

        .meal-details {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            position: relative; 
        }

        .meal-name, .price-column, .additional-params {
            flex: 1;
            padding: 5px;
        }

        .price-column {
    font-size: 18px;
    text-align: right; 
    position: relative; 
    padding-right: 20px; 
}
        .price-header {
    font-size: 18px;
    text-align: left; /
    position: relative; 
    padding-right: 220px; 
}

        .price-column hr {
            border-top: 1px solid #ccc;
            margin-top: 10px;
        }

        .universal-parameters { 
            font-style: italic; 
            padding: 5px 0;
            border-bottom: 1px solid #eee;
            margin-bottom: 10px;
        }

        .universal-parameters div {
            display: block; 
        }

        .additional-params {
            display: flex;
            flex-direction: column; 
            align-items: flex-start;
             padding-left: 20px;
        }


    </style>
</head>
<body>
    <div class="menu-container">
        {{#each data}}
        <div class="category-container">
            <h2 class="category-name">{{this.name}}</h2>
            
            {{#if (hasNonSizeParameters this.universalParameters)}}
                <div class="universal-parameters">
                    <strong>Możliwe dodatki:</strong>
                    {{#each this.universalParameters}}
                        {{#unless (eq this.id 1)}} 
                            <div>
                                {{this.name}}: 
                                {{#each this.options}}
                                    {{this.name}}{{#unless (isZero this.cost)}} (+{{divideBy100 this.cost}} zł){{/unless}}{{#unless @last}}, {{/unless}}
                                {{/each}}
                            </div>
                        {{/unless}}
                    {{/each}}
                </div>
            {{/if}}

            <div class="meal"><span></span><div class="price-header"><strong>Cena</strong></div></div>
            {{#each this.meals}}
            <div class="meal-details">
                 
                <div class="meal-name">{{this.name}}</div>           
                <div class="price-column">

                    {{#if (hasSizeParameter this.parameters)}}
                        {{#each this.parameters}}
                            {{#if (eq this.id 1)}}
                                {{#each this.options}}
                                    <div>{{this.name}}: {{addCosts ../../this.baseCost this.cost}} zł</div>
                                {{/each}}
                            {{/if}}
                        {{/each}}
                    {{else}}
                        {{divideBy100 this.baseCost}} zł
                    {{/if}}
                    
                </div>
                <div class="additional-params">
                    {{#each this.nonUniversalParams}}
                        {{#unless (eq this.id 1)}}
                        <div>
                        <strong>{{this.name}}:</strong>
                            {{#each this.options}}
                                <div>{{this.name}}{{#unless (isZero this.cost)}} (+{{divideBy100 this.cost}} zł){{/unless}}</div>
                            {{/each}}
                            </div>
                        {{/unless}}
                    {{/each}}
                    
                </div>
                
            </div>
            <hr>
            {{/each}}
            
        </div>
        {{/each}}
    </div>
</body>
</html>


